<% provide(:title, 'Home') %>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit homeHero">
      <h1>Welcome To Degas</h1>
      <div class="row-fluid">
        <div class="span3">
          <dl>
            <dt>Discover</dt>
            <dd><div class="muted"><small>the contents of your cellar.</small></div></dd>
          </dl>
          <dl>
            <dt>Rate</dt>
            <dd><div class="muted"><small>your tasting experiences.</small></div></dd>
          </dl>
        </div> <!-- span6 (column1)-->
        <div class="span9">
          <div id="mediaarea">
            <p><%= image_tag "winepourmid.png", id: 'winepourpic' %></p>
          </div>
        </div> <!-- span6 (column2) -->
      </div>
    </div>  <!-- hero unit   -->
  </div>    <!-- span12      -->
</div>      <!-- row-fluid   -->


<br>

<div class="row-fluid">
  <div class="span12">
    <div class="text-center">
        <% if signed_in? %>
          <%= link_to "View Your Cellar List", bottles_path, class: "btn btn-large btn-primary" %>
          <div class="home-info">
            There 
              <%= @current_cellar_size==1 ? "is": "are" %> 
            currently 
              <%= @current_cellar_size %> 
              <%= @current_cellar_size==1 ? "bottle" : "bottles" %> 
            available in your cellar and you've rated 
              <%= @current_ratings %>
              <%= @current_ratings==1 ? "bottle" : "bottles" %>
              .
          </div>
        <% else %>
          <%= link_to "Sign up now!", signup_path, class: "center btn btn-large btn-primary" %>
        <% end %>
    </div> <!-- text-center -->
  </div>   <!-- span12      -->
</div>     <!-- row-fluid   -->

