<% provide(:title, "Sign in") %>

<div class="jumbotron">
  <h1>Sign In</h1>
</div>

<%= form_tag sessions_path do %>

  <div class="row sign-in-form">
    <div class="col-md-12">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="row sign-in-controls">
    <div class="col-md-12">
      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
      <p>New user? <%= link_to "Sign up now.", signup_path %></p>
    </div>
  </div>
  
<% end %>

