<div id="bottle">
  <div class="well well-small" >
    <h2 class="search-title">Sort</h2>
  
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= sortable_button "bottle_id",     "Bottle Id " %>
        <%= sortable_button "cellar_location" %>
        <%= sortable_button "wineries.name", "Winery " %>
        <%= sortable_button "grapes.name",   "Grape " %>
        <%= sortable_button "vintage" %>
        <%= sortable_button "name" %>
        <%= sortable_button "vineyard" %>
        <%= sortable_button "drink_by_year", "Drink By Year" %>
        <%= sortable_button "price" %>
        <%= sortable_button "rating" %>
      </div>
    </div>
  </div>

  <%= render @bottles %>

</div>
