      <div class="starRate" id="<%= bottle.id %>ratingDiv">
        <ul>
          <li><%= link_to "Give 1 Star", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 2 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 3 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 4 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 5 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 6 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 7 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 8 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 9 Stars", rate_edit_path(bottle.id), method: :post %></li>
          <li><%= link_to "Give 10 Stars", rate_edit_path(bottle.id), method: :post %></li>
        </ul>
      </div>
      <div class="tempdiv"> 
        this is the text for the tempdiv
      </div>
