      <div class="row-fluid starRate" id="<%= bottle.id %>ratingDiv">
        <div class="span2">Rating:</div> 
        <%= hidden_field_tag "stored_rating", bottle.rating, {id: bottle.id.to_s + "stored_rating", class: "storedRating"} %>
        <div class="span6">
          <ul>
            <li class="starRateli"><%= link_to "Give 1 Star", rate_bottle_path(bottle.id, rating: 1), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 2 Stars", rate_bottle_path(bottle.id, rating: 2), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 3 Stars", rate_bottle_path(bottle.id, rating: 3), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 4 Stars", rate_bottle_path(bottle.id, rating: 4), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 5 Stars", rate_bottle_path(bottle.id, rating: 5), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 6 Stars", rate_bottle_path(bottle.id, rating: 6), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 7 Stars", rate_bottle_path(bottle.id, rating: 7), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 8 Stars", rate_bottle_path(bottle.id, rating: 8), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 9 Stars", rate_bottle_path(bottle.id, rating: 9), method: :put, remote: :true %></li>
            <li class="starRateli"><%= link_to "Give 10 Stars", rate_bottle_path(bottle.id, rating: 10), method: :put, remote: :true %></li>
          </ul>
        </div>
        <div class="span4 ratingText"></div>
      </div>
