<!-- Display the detail for a single bottle -->
<div class="row-fluid">              <!-- enclosing row start -->
  <div class="span12">               <!-- enclosing row size start -->
    <div class="row-fluid">          <!-- title row start-->
      <div class="span5 offset1">            <!-- title column1 size start -->
        <span class="bottle-title">  <!-- title column1 data start -->
          <%= bottle.vintage + " " + bottle.winery.try(:name) + " " %> 
        </span>
        <span class="bottle-title-postfix">
          <%= bottle.grape.try(:name) %>
        </span>                      <!-- title column1 data end -->
      </div>                         <!-- title column1 size end -->
      <div class="span5 offset1">    <!-- title column2 size start -->
        <span class="bottle-title">  <!-- title column2 data start -->
        Bottle Id: <%= bottle.bottle_id %>
        </span>                      <!-- title column2 data end -->
      </div>                         <!-- title column2 size end -->
    </div>                           <!-- title row end -->
    
    <div class="row-fluid">          <!-- data row1 start -->
      <div class="span5 offset1" >   <!-- column 1 data row start -->
        <div><span class="muted">Bottle Type: </span><%= bottle.bottle_type.name %></div>
        <div><span class="muted">Date Added: </span><%= bottle.date_added_to_cellar.try(:strftime, "%m/%d/%Y") %></div>
        <div><span class="muted">Name: </span>     <%= bottle.name %></div>
        <div><span class="muted">Vineyard: </span> <%= bottle.vineyard %></div>
        <div><span class="muted">Price: </span>    <%= number_to_currency(bottle.price) %></div>
        <div><span class="muted">Drink By: </span> <%= bottle.drink_by_year %></div>
        <div><span class="muted">Cellar Location: </span> <%=bottle.cellar_location %></div>
      </div>                         <!-- column 1 data row end -->

      <div class="span5 offset1">            <!-- column 2 data row start -->

        <% if bottle.available %>
          <span id='<%= bottle.id.to_s + 'avail' %>' ><%= bottle.availability %></span>
          <span id='<%= bottle.id.to_s + 'consume' %>' >
          <%= link_to " Consume", consume_bottle_path(bottle.id), method: :put, confirm: "Drink bottle " +
              bottle.bottle_id.to_s + "?", remote: true %>
          </span>
        <% else %>
          <%= consumed_message(bottle.availability_change_date) %>
          <!-- %= bottle.availability_change_date.try(:strftime, "%m/%d/%Y %I:%M%P") % -->
        <% end %>
        <div><%= link_to "Copy", copy_bottle_path(bottle.id) %></div>
        <%= render partial: "bottle_rating", locals: {bottle: bottle} %>
        <div><%= link_to "Edit", edit_bottle_path(bottle.id) %></div>
        <% google_query = bottle.vintage + " " + bottle.winery.name + " " + bottle.name + " " + bottle.grape.name %>
        <div><%= link_to "Search the Web", "http://www.google.com/search?q=#{google_query}", target: '_blank' %></div>
      </div>                         <!-- column 2 data row end -->
    </div>                           <!-- data row1 end -->
    <div class="row-fluid">          <!-- data row2 start -->
      <div class="span8 offset1">    <!-- data row2 column1 start -->
        <div><span class="muted">Notes:</span> <%= bottle.notes %></div>
      </div>                         <!-- data row2 column1 end -->
    </div>                           <!-- data row2 end -->
    <div class="row-fluid">
      <div class="span12 center">
        <%= link_to("Back to Top", {}, href: "#searchForm") %>
      </div>
    </div>
  </div>                             <!-- enclosing row size end-->
</div>                               <!-- enclosing row end-->
<hr />
