<!-- Display the sort box and then display the details for each bottle -->
<div id="bottle">
  <div class="well well-small" >
    <h2 class="search-title">Sort</h2>
  
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= sortable_button "bottle_id",     "Bottle Id " %>
        <%= sortable_button "cellar_location" %>
        <%= sortable_button "wineries.name", "Winery " %>
        <%= sortable_button "grapes.name",   "Grape " %>
        <%= sortable_button "vintage" %>
        <%= sortable_button "name" %>
        <%= sortable_button "vineyard" %>
        <%= sortable_button "drink_by_year", "Drink By Year" %>
        <%= sortable_button "price" %>
        <%= sortable_button "rating" %>
      </div>
    </div>
  </div>

  <% if @bottles.empty? %>
    Search returned no results.  Change you search criteria, or add some bottles to your cellar.
  <% else %>
    <%= render @bottles %>
  <% end %>
  
  <div id="dialog-modal" title="basic dialog">
     <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  </div>
  
  <button id="opener">Open Dialog</button>
  <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
  
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>