        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Other Search Options</label>
              <div class="row">
                <div class="col-md-12"> Which bottles?
                  <div class="radio-inline">
                    <label class="radio-inline">
                      <%= f.radio_button :available_eq, "true", checked: available_radio=="available"?true:false %>Available Only
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label class="radio-inline">
                      <%= f.radio_button :available_eq, "false", checked: available_radio=="consumed"?true:false %>Consumed Only
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label class="radio-inline">
                      <%= f.radio_button :available_eq, "nil", checked: available_radio=="all"?true:false %>All
                    </label>
                  </div> 
                  <div class="radio-inline">
                    <label class="radio-inline">
                      <%= f.radio_button :available_eq, "ratingOnly", checked: available_radio=="ratingOnly"?true:false %>Rating Only
                    </label>
                  </div>                
                </div>
                <!-- div class="col-md-6">
                  <label class="checkbox-inline">
                    <%# (params[:q] && params[:q][:is_for_rating_only_true]) ? checkedStatus = true : checkedStatus = false %>
                    <%= f.check_box :is_for_rating_only_true, checked: false %>Include Rating Only Bottles
                  </label>
                </div -->
              </div>
            </div>
          </div>
        </div>
