<% provide(:title, 'Multi-Bottle Add Confirmation') %>

<div class="hero-unit hero-unit-bottle-index">
    <h1>Multi-Bottle Add Confirmation</h1>
</div>

<p class="text-info">You are about to create <strong><%= @bottle_id_text[1] - @bottle_id_text[0] + 1 %></strong> bottles.</p>

  <div class="row">                    <!-- enclosing row start -->
    <div class="span6 offset1">        <!-- enclosing row size start -->
      <h2-nobottom-margin> Bottle Id(s) </h2-nobottom-margin>
    </div>                             <!-- enclosing row size end -->
  </div>                               <!-- enclosing row end -->

<% for x in @bottle_id_text[0]..@bottle_id_text[1] do %>
  <div class="row">                    <!-- enclosing row start -->
    <div class="span6 offset1">        <!-- enclosing row size start -->
      <div> <%= x %> </div>
    </div>                             <!-- enclosing row size end -->
  </div>                               <!-- enclosing row end -->
<% end %>



<%= simple_form_for @bottle do |f| %>

  <%= f.hidden_field :bottle_type_id %>
  <%= f.hidden_field :bottle_id_text %>
  <%= f.hidden_field :bottle_id %>
  <%= f.hidden_field :date_added_to_cellar_text %>
  <%= f.hidden_field :cellar_location %>
  <%= f.hidden_field :vintage %>
  <%= f.hidden_field :drink_by_year %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :vineyard %>
  <%= f.hidden_field :price %>
  <%= f.hidden_field :grape_name %>
  <%= f.hidden_field :winery_name %>
  <%= f.hidden_field :notes%>
  <%= f.hidden_field :confirmed, value: "confirmed"%>
  
  <div class="confirm-buttons">
    <div class="row">                    <!-- enclosing row start -->
      <div class="span6 offset1">        <!-- enclosing row size start -->
        <h2-nobottom-margin> Are you sure? </h2-nobottom-margin>
      </div>                             <!-- enclosing row size end -->
    </div>                               <!-- enclosing row end -->
  
    <div class="row">
      <div class="span6 offset1">
        <%= f.button :submit, label: "Create Bottles", class: "btn btn-primary", value: "Create Bottles" %>
        <%= link_to "Cancel", bottles_path, class: 'btn ' %>
      </div>
    </div>
  </div>
<% end %>
