<% provide(:title, 'Bottle Index') %>

<div class="jumbotron">
  <h1>Cellar List</h1>
</div>

<hr />
<div class="CSVDownload visible-desktop">
  Download:
  <%= link_to "CSV", bottles_path(format: "csv") %>
</div>

<div class="row">                         <!-- enclosing row 0 start -->
  <div class="col-md-12">                 <!-- enclosing row size start -->
    <div id="searchForm" class="well well-sm" >    <!-- well opening -->

      <h2>Search</h2>

      <%= search_form_for @search, html: {class: "search-form"}, remote: true do |f| %>
        <div class="row">
          <div class="col-md-10">
            <%= render partial: "index_search_row1" %>
            <!--%= render partial: "_index_search_row2" %-->
            <!--%= render partial: "_index_search_row3" %-->
          </div>
          <div class="col-md-2">
            
          </div>
        </div>

        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, sort_column  %>
    
      <% end %>
    </div>                    <!-- well close -->
  </div>                      <!-- enclosing row size end -->
</div>                        <!-- enclosing row end -->

<hr />

<%= render partial: "bottle_header" %>

