<% provide(:title, 'Bottle Index') %>

<div class="hero-unit hero-unit-bottle-index">
    <h1>Bottles</h1>
</div>

<%= search_form_for @search, html: {class: "form-inline"}, remote: true do |f| %>
  <%= Grape::Color[0].color %>

  <label>Winery Name</label>
  <%= f.text_field :winery_name_cont, class: "input-small search-query", placeholder: "Wine Name"%>

  <label>Grape</label>
  <%= f.text_field :grape_name_cont, class: "input-small search-query", placeholder: "Grape"%>

  <label>Show Only Available Bottles</label>
  <%= f.check_box :available_true, class: "input-small search-query" %>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, sort_column  %>

  <%= f.submit "Update List"%>
<% end %>

<%= render partial: "bottle_header" %>


