<% provide(:title, 'Bottle Index') %>

<div class="jumbotron">
  <h1>Cellar List</h1>
</div>

<hr />
<div class="CSVDownload visible-desktop">
  Download:
  <%= link_to "CSV", bottles_path(format: "csv") %>
</div>

<div class="row">                         <!-- enclosing row 0 start -->
  <div class="col-md-12">                 <!-- enclosing row size start -->
    <div id="searchForm" class="well well-sm" >    <!-- well opening -->

      <div class="row">
        <div class="col-md-12">
          <h2>
            Search
            <% if params[:q] %>
              <% buttonClass = "glyphicon glyphicon-chevron-up"%>
              <% collapseClass = "collapse in"%>
            <% else %>
              <% buttonClass = "glyphicon glyphicon-chevron-down"%>
              <% collapseClass = "collapse"%>
            <% end %>
            <%= content_tag(:button, content_tag(:span, "", class: buttonClass), class: "btn btn-default btn-xs collapse-btn", type: "button", data: {toggle: "collapse", target: "#cellarSearchForm"}) %>
          </h2>
        </div>
      </div>

      <%= search_form_for @search, html: {class: "search-form"}, remote: true do |f| %>
        <div class="row <%= collapseClass %>" id="cellarSearchForm">
          <div class="col-md-10">
            <%= render partial: "index_search_row1", locals: {f: f} %>
            <%= render partial: "index_search_row2", locals: {f: f} %>
            <%= render partial: "index_search_row3", locals: {f: f} %>
          </div>
          <div class="col-md-2">
            <%= render partial: "index_button_column", locals: {f: f} %>          
          </div>
        </div>

        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, sort_column  %>
    
      <% end %>
    </div>                    <!-- well close -->
  </div>                      <!-- enclosing row size end -->
</div>                        <!-- enclosing row end -->

<%= render partial: "bottle_header" %>

