<div class="hero-unit hero-unit-bottle-index">
  <h1>
  	<% if @bottle.is_for_rating_only %>
  		Add a Rating Only
    <% elsif @bottle.id.blank? %>
      Add Bottle To Cellar
    <% else %>
      Edit Bottle In Cellar
    <% end %>
  </h1>
</div>
<% if @bottle.is_for_rating_only %>
  <h1>Not for adding a bottle to your cellar</h1>
<% end %>

<% if defined? @rating_pipeline %>
  <%= image_tag @rating_pipeline.front_label.url %>
  <%= image_tag @rating_pipeline.back_label.url %>
<% end %>

<%= simple_form_for @bottle, html: {class: 'form-horizontal'} do |f| %>

<div class="row">
  <div class="span6 offset3">
  <%= render 'shared/error_messages', object: f.object %>
  </div>
</div>

<div class="row bottle-type-select">
  <div class="span12">
          <% BottleType.select("id, name").order(:display_order).each do |bottletype| %>
            <% if bottletype.name == "Wine" %>
              <label class="radio inline"> <%= f.radio_button :bottle_type_id, bottletype.id, :checked => true %> <%= bottletype.name %> </label>
            <% else %>
              <label class="radio inline"> <%= f.radio_button :bottle_type_id, bottletype.id %> <%= bottletype.name %> </label>
            <% end %>
          <% end %>
  </div>
</div>

<div class="row">
  <div class="span6">
  	  <%= f.hidden_field :is_for_rating_only %>
  	  
  	  <% if defined? @rating_pipeline %>
  	    <%= f.hidden_field :rating_pipeline_id, value:@rating_pipeline[:id]%>
  	  <% end %>
  	  
  	  <% unless @bottle.is_for_rating_only %>
        <%= f.input :bottle_id_text, label: 'Bottle Identifier' %>
        <%= f.input :date_added_to_cellar_text, label: 'Date Added to Cellar' %>
        <%= f.input :cellar_location %>
      <% end %>

      <% # Always display the follwowing field (rating_only or not) %>
      <%= f.input :vintage, label: "Vintage (Year)" %>

      <% unless @bottle.is_for_rating_only %>
        <%= f.input :drink_by_year, label: "Drink By (Year)" %>
      <% end %>

      <% # Always dispaly the following fields (rating_only or not) %>
      <%= f.input :name %>
      <%= f.input :vineyard %>
      <%= f.input :price %>
      <%= f.input :grape_name, input_html: { data: { autocomplete_source: grapes_list_path } } %>
      <!-- %= f.input :grape_id, collection: Grape.order("name"), selected: @bottle.grape_id  % -->

      <%= f.input :winery_name, input_html: { data: { autocomplete_winery_source: wineries_list_path } } %>

      <%= f.input :notes, label: 'Notes', :input_html => { :rows => 3 } %>

      <% if !@bottle.id.blank? %>
        <%= f.input :available, as: :radio_buttons, item_wrapper_class: :inline, collection: [:true, :false] %>
        <%= f.input :rating, label: "Rating (1-10)"%>
        <%= f.input :buy_at_this_price, as: :radio_buttons, item_wrapper_class: :inline, collection: [['true', :true], ['false', :false], ['undecided', ""]] %>
      <% end %>
      
      <% if @bottle.is_for_rating_only %>
        <% f.hidden_field :available, value: false %>
        <%= f.input :rating, label: "Rating (1-10)" %>
      <% end %>

      <% # Determine if we need to go back to the rating pipeline or to the cellar list %>
      <%= f.button :submit, label: "Create Bottle", class: "btn btn-large btn-primary" %>
      <% if defined? @rating_pipeline %>
        <%= link_to "Cancel", rating_pipelines_path, class: 'btn btn-large' %>
      <% else %>
        <%= link_to "Cancel", bottles_path, class: 'btn btn-large' %>
      <% end %>
      
    <% end %>
  </div>
  <div class="span5 offset1">
    <div class="float-image">
      <%= image_tag "bottleBW.jpg", height: '230', width: '230' %>
    </div>
  </div>
</div>


