<h1>
  <% if @bottle.id.blank? %>
    Add Bottle To Cellar
  <% else %>
    Edit Bottle In Cellar
  <% end %>
</h1>

<%= simple_form_for @bottle, html: {class: 'form-horizontal'} do |f| %>

<div class="row">
  <div class="span6 offset3">
  <%= render 'shared/error_messages', object: f.object %>
  </div>
</div>

<div class="row bottle-type-select">
  <div class="span9 offset3">
          <% BottleType.select("id, name").order(:display_order).each do |bottletype| %>
            <% if bottletype.name == "Wine" %>
              <label class="radio inline"> <%= f.radio_button :rating, bottletype.id, :checked => true %> <%= bottletype.name %> </label>
            <% else %>
              <label class="radio inline"> <%= f.radio_button :rating, bottletype.id %> <%= bottletype.name %> </label>
            <% end %>
          <% end %>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
      <%= f.input :bottle_id, label: 'Bottle Identifier' %>

      <%= f.input :cellar_location %>

      <%= f.input :vintage, label: "Vintage (Year)" %>

      <%= f.input :drink_by_year, label: "Drink By (Year)" %>

      <%= f.input :name %>

      <%= f.input :vineyard %>

      <%= f.input :price %>

      <%= f.input :grape_name, input_html: { data: { autocomplete_source: grapes_list_path } } %>
      <!-- %= f.input :grape_id, collection: Grape.order("name"), selected: @bottle.grape_id  % -->

      <%= f.input :winery_name, input_html: { data: { autocomplete_winery_source: wineries_list_path } } %>

      <% if !@bottle.id.blank? %>
        <%= f.input :available, as: :radio_buttons, item_wrapper_class: :inline, collection: [:true, :false] %>
      <% end %>

      <%= f.button :submit, label: "Create Bottle", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", bottles_path, class: 'btn btn-large' %>

    <% end %>
  </div>
</div>


