<% provide(:title, "Update Profile") %> 


<div class="hero-unit">
  <h1>Update Your Profile</h1>
</div>

<div class="row-fluid">
  <div class="span10 offset2">
 
   <%= simple_form_for @user, html: {class: 'form-horizontal'} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :email %>

      <%= f.input :password, label: "New password" %>

      <%= f.input :password_confirmation %>

      <%= f.button :submit, "Save", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", users_path, class: 'btn btn-large' %>
    <% end %>

  </div>
</div>
