<div class="hero-unit">
  <h2>Bottles</h2>
</div>

<%= link_to "Showing All (toggle)", bottle_index_path(show_avail_next: true), id: 'toggle', remote: true %>

<table class="table table-hover" id='bottle'>
  <tr>
    <th><%= sortable "bottle_id",     "Bottle Id " %><%= sort_icon("bottle_id") %></th>
    <th><%= sortable "wineries.name", "Winery " %><%= sort_icon("wineries.name") %></th>
    <th><%= sortable "grapes.name",   "Grape " %><%= sort_icon("grapes.name") %></th>
    <th>Consumed or Available</th>
  </tr>

  <%= render @bottles %>

</table>
