<!-- Display the detail for a single bottle -->
<div class="row">                    <!-- enclosing row start -->
  <div class="span9">                <!-- enclosing row size start -->
    <div class="row">                <!-- title row start-->
      <div class="span7">            <!-- title column1 size start -->
        <span class="bottle-title">  <!-- title column1 data start -->
          <%= winery.name + " " %> 
        </span>
        <span class="bottle-title-postfix">
          <%= winery.country %>
        </span>                      <!-- title column1 data end -->
      </div>                         <!-- title column1 size end -->
    </div>                           <!-- title row end -->

    <div class="row">                <!-- data row1 start -->
      <div class="span6 offset1" >   <!-- column 1 data row start -->
        <div><span class="muted">Location 1: </span><%= winery.location1 %></div>
        <div><span class="muted">Location 2: </span><%= winery.location2 %></div>
        <div><span class="muted">Location 3: </span>     <%= winery.location3 %></div>
        <% if !winery.winery_url.nil? %>
          <div> <%= link_to "Winery Website", winery.winery_url %> <span class="muted">( <%= winery.winery_url %> )</span> </div>
        <% end %>
        <% if !winery.twitter_url.nil? %>
          <div> <%= link_to "Winery Twitter URL", winery.twitter_url %> <span class="muted">( <%= winery.twitter_url %> )</span> </div>
        <% end %>
        <% if !winery.facebook_url.nil? %>
          <div> <%= link_to "Winery Facebook URL", winery.facebook_url %> <span class="muted">( <%= winery.facebook_url %> )</span> </div>
        <% end %>
      </div>                         <!-- column 1 data row end -->
      <div class="span2">            <!-- column 2 data row start -->
        <div> <%= link_to 'Show', winery %> </div>
        <div> <%= link_to 'Edit', edit_winery_path(winery) %> </div>
      </div>                         <!-- column 2 data row end -->
    </div>                           <!-- data row1 end -->
  </div>                             <!-- enclosing row size end-->
</div>                               <!-- enclosing row end-->
<hr />

