<% provide(:title, 'Winery Index') %>

<div class="hero-unit hero-unit-bottle-index">
    <h1>Wineries</h1>
</div>

<div class="row">               <!-- enclosing row start -->
  <div class="col-md-12">                <!-- enclosing row size start -->
    <div class="well well-small" >    <!-- well opening -->
      <h2 class="search-title">Search</h2>
      <%= search_form_for @search, html: {class: "search-form form-horizontal"} do |f| %>
                <div class="form-group">
                  <label class="col-xs-4 control-label">Winery Name</label>  
                  <%= f.text_field :name_cont, class: "input-small", placeholder: "Winery Name"%>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label">Country</label>  
                  <%= f.text_field :country_cont, class: "input-small", placeholder: "Country"%>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label">State or Territory, Ex: California</label>  
                  <%= f.text_field :location1_cont, class: "input-small", placeholder: "Location 1"%>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label">Area, Ex: Sonoma</label>  
                  <%= f.text_field :location2_cont, class: "input-small", placeholder: "Location 2"%>
                </div>
                <div class="form-group">
                  <label class="col-xs-4 control-label">Sub Area, Ex: Alexander Valley</label>  
                  <%= f.text_field :location3_cont, class: "input-small", placeholder: "Location 3"%>
                </div>
              <!-- search options column1 size end -->
        <div class="form-group">
          <div class="col-md-4 col-xs-offset-4">   <!-- serach button column2 size start -->
            <%= f.submit "Update List", class: "btn btn-primary"%> 
          </div>                <!-- serach button column2 size end -->
        </div> 
      <% end %>
    </div>                    <!-- well close -->
  </div>                      <!-- enclosing row size end -->
</div>                        <!-- enclosing row end -->

<%= paginate @wineries %>
<%= render @wineries %>

<br />

<%= link_to 'New Winery', new_winery_path %>
