  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Degas", home_path, id: "logo" %>
        <nav>
          <ul class="nav pull-right"> <!-- outermost ul -->
            <li><%= link_to "Home",    home_path %></li>  <!-- single level -->
            <li><%= link_to "Help",    help_path %></li>  <!-- single level -->
            <% if signed_in? %>
              <li><%= link_to "Users", users_path %></li> <!-- single level -->
              <li id="fat-menu" class="dropdown">         <!-- dropdown account  -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", '#' %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>                                       <!-- dropdown account end -->
              <li id="fat-menu" class="dropdown">         <!-- dropdown cellar -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Cellar <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Cellar Table of Contents", toc_path %></li>
                  <li class="divider"></li>
                  
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Ratings</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to "Bottle Ratings", ratings_path %></li>
                      <li><%= link_to "Winery Ratings", winery_ratings_path %></li>
                    </ul>  
                  </li>
                  
                  <li class="divider"></li>
                  <li><%= link_to "Cellar List", bottles_path %></li>
                  <li><%= link_to "Add a Bottle", new_bottle_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "List Grapes", grapes_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "List Wineries", wineries_path %></li>
                  <li><%= link_to "Add a Winery", new_winery_path %></li>
                </ul>
              </li>                                       <!-- dropdown cellar end -->
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>        <!-- outermost ul -->
        </nav>
      </div>           <!-- container -->
    </div>             <!-- navbar-inner -->
  </header>
